<mat-card class="card-home mat-elevation-z3">        
    <mat-card-title class="card-title ">
     Novo Membro
  </mat-card-title>
  <form [formGroup]="createForm" (ngSubmit)="createMembro()">
    <mat-form-field appearance="fill">
        <input matInput placeholder="Nome" formControlName="nome">
     <!--  <mat-error *ngIf="createForm.get('title')?.errors?.['required']">
            O campo <strong>Title</strong> é obrigatorio.
        </mat-error>        
        <mat-error *ngIf="createForm.get('title')?.hasError('minLength')">
            O campo <strong>Title</strong> deve ser maior que {{createForm.get('title')?.errors?.['minLength'].requiredLength}} caracteres!
        </mat-error> --> 
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Email" formControlName="email" >
      </mat-form-field>          

  <div>
    <button mat-flat-button color="primary" type="submit" >Save</button>    
    <button mat-flat-button color="warn" (click)="cancel()">Cancel</button>  
   </div>    
  </form>   
</mat-card>
